da6401_2/
*.pth
*.log
*.csv
*.json
*.h5
*.ckpt
*.pt
__pycache__/
*.ipynb_checkpoints
*.vscode/
*.idea/
*.DS_Store
*.egg-info/

data/__pycache__/
data/annotations/
data/images/
data/annotations.tar.gz
data/images.tar.gz

checkpoints/*.pth
logs/